
/* .banner{
    position: relative;
    background:url(banner2.png);
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-size: cover;

} */