/* .banner{
    position: relative;

}

.banner-content{
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-size: cover;
    color:white;

}
.banner .banner-content h1{
    color:white;
}

img{
    z-index:0;
} */