
.movie-card-container{
    /* background-color: black;; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column-reverse;
    flex-direction: row;
    height:500px;
   

    
    
}

.movie-card-container .movie-card{
    /* background-color: black ; */
    height:300px;
    width: 250px;
    /* padding-left: 10px; */
    border: 5px solid rgba(243, 85, 0, 0.309);
    
    

}